.bold {
    font-weight: bold;
}

.custom-selector-component-container {
    padding: 10px 0;
}

.custom-selector-component-container .title {
    font-weight: bold;
    text-transform: capitalize;
    padding: 5px 0;
}

.taxonomy-save-container {
    padding: 10px 0 0 0;
}

.custom-cat-container .chosen-container-multi .chosen-choices {
    background-image: none;
}

.message-warning {
    color: #8a6d3b;
}

/*.form-field input[type="text"],*/
/*.form-field input[type="password"],*/
/*.form-field input[type="email"],*/
/*.form-field input[type="number"],*/
/*.form-field input[type="search"],*/
/*.form-field input[type="tel"],*/
/*.form-field input[type="url"],*/
/*.form-field textarea {*/
    /**/
/*}*/

.form-field input[type="text"].has-error {
    border-color: red;
}