.bold {
    font-weight: bold;
}

.custom-selector-component-container {
    padding: 10px 0;
}

.title {
    font-weight: bold;
    text-transform: capitalize;
}

.taxonomy-save-container {
    padding: 10px 0 0 0;
}

.custom-cat-container .chosen-container-multi .chosen-choices {
    background-image: none;
}